<p>employee-list works!</p>
<div class="list">
    <app-employee-li class="item"
        *ngFor="let e of employees"
        [employee]="e"
        [routerLink]="e.mnr">
        <!-- (click)="showDetails(e)"> -->
    </app-employee-li>
</div>
<!-- <div class="ui middle aligned selection divided list">
    <div *ngFor ="let employee of employees" (click)="showDetails(employee)">
        <div class="content">
            <div class="header">{{ employee.name }}, {{ employee.vorname }}</div>
            <div class="metadata">
                Mitarbeiternummer: {{ employee.mnr }}<br>
                Gehalt: {{ employee.gehalt }} €
            </div>
        </div>
    </div>
</div> -->